
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/cache/*
wp-content/cache/supercache/*
wp-content/w3tc-cache/*
wp-config.php
alicia/application/config/database.php
.ssh/authorized_keys/*
alicia/application/views/work_orders/form copy.php
alicia/application/models/Work_orderOriginal.php
alicia/application/models/Work_orderOriginal.php
alicia/application/views/configOriginal.php